/* Bouncing arrow in Header */
.down-arrow {
    position: fixed;
    bottom: 60px;
    z-index: 9999;
}
@media screen and (max-width: 768px) {
    .down-arrow {
        display: none;
    }
}
.arrow-container {
     animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
     cursor: pointer;
 }

@keyframes bounce {
    50% {
        transform: translateY(-15px);
    }
}
 
#about{
    padding-top: 20px;
}