body {
    background-color: rgb(237, 203, 161) !important;
}


/* Bouncing arrow in Header */
.arrow-container {
     animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
     cursor: pointer;
 }

@keyframes bounce {
    50% {
        transform: translateY(-15px);
    }
}
 
#intro {
    height: calc(100vh - 64px);
}

.navbar ul li {
  color: black;
}


/* Slider */
.swiper {
  width: 100%;
  height: 600px;
}
.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#slide-01 {
    background-image: url('/assets/images/slide-01.jpg');   
}
#slide-02 {
    background-image: url('/assets/images/slide-02.jpg');
}
#slide-03 {
    background-image: url('/assets/images/slide-03.jpg');
}
.swiper-button-next, .swiper-button-prev {
    color: black;
}
.swiper-pagination-bullet {
    background-color: grey;
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet-active {
    background-color: pink;
}